.header{
    padding:50px;   
}
input {
    color:blue;
    border:blue 2px Solid;
    }

.auto-container{
    display:flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
}

.card{
    margin: 20px;
    box-shadow: 2px 2px 10px rgb(0, 0, 255);
}

.card-body-even{
    background-color: rgb(107, 107, 204);

    color: rgb(233, 255, 255);
}

.card-body-odd{
    background-color: rgb(233, 255, 255);
    color: rgb(107, 107, 204);
}